# fly.toml app configuration file generated for streaming on 2026-01-20T01:33:32+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'streaming'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[processes]
  app = 'npm run start'
  worker = 'npm run start:worker'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  size = 'performance-4x'
  memory = '32gb'
  processes = ['worker']

[[mounts]]
  source = "worker_data"   
  destination = "/data"     
  processes = ["worker"]   

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
  cpus = 1
  memory_mb = 512
  processes = ['app']