app = "streaming"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[processes]
  app = "npm start"
  worker = "npm run start:worker"


[[http_service]]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"] # هذا يعني أن منفذ الويب يذهب فقط لعملية الـ app

[[vm]]
  size = "shared-cpu-2x"
  memory = "1024mb" # 256 قد تكون قليلة للترميز
  processes = ["worker"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
  processes = ["app"]